<!-- User login page -->

<!-- This will show error messages if there are any -->
<%= render 'layouts/messages' %>

<div class="row">
    <div class="small-6 small-centered large-centered columns">
      <div class="signup-panel">
        <p class="welcome">Log in to Code Battle!</p>

        <%= form_tag('/login', method: :post) do %>

          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">
              <%= text_field_tag :username, nil, placeholder: "username" %>
            </div>
          </div>

          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <%= password_field_tag :password, nil, placeholder: "password" %>
            </div>
          </div>

          <%= submit_tag "Log In!", class: "button" %>

        <% end %>

      </div>
    </div>
   </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>