<div class="row">

  <div class="large-4 small-12 columns">

    <div class="hide-for-small panel">
      <h3>Welcome <%= current_user.username %>!</h3><br>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <ul class="stack button-group">
          <li><%= link_to "Create challenge", new_challenge_path, class: "button" %></li>
          <li><a href="https://larry-firebase.firebaseapp.com/" class="button">Battle someone</a></li>
          <li><%= link_to "Edit profile", edit_user_path(current_user), class: "button" %></li>
          <li><%= link_to "Back to home", '/#title-challenges', class: "button" %></li>
        </ul>                

      </div>
    </div>

    <div class="panel callout radius">      
      <% if current_user.challenges.count == 1 %>
        <h6>You have <%= current_user.challenges.count %> code challenge</h6>
      <% else %>
        <h6>You have <%= current_user.challenges.count %> code challenges</h6>
      <% end %>
    </div>

  </div>

  <div class="large-8 columns">
    <div class="row">
      <% @paginatable_array.each do |challenge| %>
      <div class="large-6 small-6 columns">

        <% if challenge.category == "Ruby" %>
          <span class="label alert"><%= challenge.category %></span>
        <% else %>
          <span class="label"><%= challenge.category %></span>
        <% end %>

        <div class="panel ccbody">
          <textarea class="limited ccbody"><%= challenge.instructions %></textarea>
        </div>

        <div class="panel">
          <h5 class="ccinfo"><strong><%= challenge.name %></strong></h5>
          <div class="row">
            <div class="small-2 columns"><span><%= link_to "", challenge_path(challenge), class: "fi-play black" %></span></div>
            <div class="small-2 columns"><span><%= link_to "", edit_challenge_path(challenge), class: "fi-wrench black" %></span></div>
            <div class="small-8 columns"><span><%= link_to "", challenge, method: :delete, data: {confirm: "Are you sure you want to delete this challenge?"}, class: "fi-trash black" %></span></div>
          </div>
          
          
        </div>
      </div>
      <% end %>

    </div>

    <%= paginate @paginatable_array %>

  </div>

</div>
     
     
         
     
