<div class="full">&lt<span class="purple">code</span> <span class="green">battle</span>&gt<span id="typed-cursor" class="blinking">&#9646;</span></div>

        <div class="row">
          <div class="large-12 columns">
            <div class="row">
       
              <% @challenges.each do |challenge| %>
       
              <div class="large-3 small-6 columns">

                <% if challenge.category == "Ruby" %>
                  <span class="label alert"><%= challenge.category %></span>
                <% else %>
                  <span class="label"><%= challenge.category %></span>
                <% end %>

                <table>
                  <thead>
                    <tr>
                      <th width="220">
                        <h6 class="ccinfo"><strong><%= challenge.name %></strong></h6>
                        <small>by <%= challenge.user.username %></small>
                          <%= link_to "", challenge_path(challenge), class: "label success right fi-play" %>
                      </th>
                    </tr>
                  </thead>
                  <tr>
                    <td><p class="limited"><%= challenge.instructions %></p></td>
                  </tr>
                </table>
                                              
              </div>
              <% end %>           
       
            </div>

          </div>
        </div>

    