<!-- Partial for new and edit challenge -->

<%= form_for @challenge do |f| %>

  <!-- Section for challenge name -->
  <div class="row">
    <div class="large-6 columns">
      <label class="cclabel">Challenge name
        <%= f.text_field :name, placeholder: "Give your challenge a cool name!" %>
      </label>
    </div>
    <div class="large-6 columns">
      <label class="cclabel">Example name
        <input type="text" name="fname" value="Square root?" disabled="">
      </label>
    </div>    
  </div>


  <!-- Section to select challenge category -->
  <div class="row">
    <div class="large-6 columns">
      <label class="cclabel">Choose a category
        <%= f.select(:category, [['Ruby'], ['Javascript']]) %>
      </label>
    </div>
    <div class="large-6 columns">
      <label class="cclabel">Example category
        <input type="text" name="fname" value="Javascript" disabled="">
      </label>
    </div>     
  </div>


  <!-- Section to type the instructions for the challenge -->
  <div class="row">
    <div class="large-6 columns">
      <label class="cclabel">Challenge instructions
      <%= f.text_area :instructions, placeholder: "Enter your challenge here!", class: "cctextarea" %>
      </label>
    </div>
    <div class="large-6 columns">
      <label class="cclabel">Example of instructions
      <textarea class="cctextarea" disabled>Write a function named "squareRoot" that checks if the parameter passed in is a square root.&#13;&#10;&#13;&#10;squareRoot(4096) //=> true&#13;&#10;squareRoot(333)  //=> false</textarea>
      </label>
    </div>    
  </div>


  <!-- Section to enter in the solution of the challenge -->
  <div class="row">
    <div class="large-6 columns">
      <label class="cclabel">Solution
        <%= f.text_area :answer, placeholder: "Please enter the solution to the challenge", class: "cctextarea" %>
      </label>
    </div>
    <div class="large-6 columns">
      <label class="cclabel">Example of solution
      <textarea class="cctextarea" disabled>function squareRoot(num) {
  if (Math.sqrt(num) % 1 == 0) {
    return true;
  }
  else {
    return false;
  }
}
</textarea>
      </label>
    </div>      
  </div>


  <!-- Section to enter the starter code for each challenge -->
  <div class="row">
    <div class="large-6 columns">
      <label class="cclabel">Starter Code
        <%= f.text_area :starter, placeholder: "Please enter starter code for the solution", class: "cctextarea" %>
      </label>
    </div>
    <div class="large-6 columns">
      <label class="cclabel">Example of Starter Code
      <textarea class="cctextarea" disabled>function squareRoot(num) {
  if (condition) {
    return true;
  }
  else {
    return false;
  }
}
</textarea>
      </label>
    </div>      
  </div>


  <!-- Section to enter documentation for each challenge -->
  <div class="row">
    <div class="large-6 columns">
      <label class="cclabel">Documentation
        <%= f.text_field :documentation, placeholder: "Enter a link to documentation as a helpful tip" %>
      </label>
    </div>
    <div class="large-6 columns">
      <label class="cclabel">Example of documentation
        <input type="text" name="fname" value="http://en.wikipedia.org/wiki/Square_root" disabled="">
      </label>
    </div>      
  </div>


  <!-- Submit button -->
  <div class="row">
    <div class="large-6 columns">
      <%= f.submit "Submit", class: "button expand" %>
    </div>
  </div>
<% end %>