<div class="row">
        <div class="large-12 columns">

            <div class="row">
     
              <div class="large-6 columns">
     
                <h3 class="show-for-small"><%= @challenge.name %><hr/></h3>
     
                <div class="panel">
                  <h4 class="hide-for-small"><%= @challenge.name %><hr/></h4>
                  <textarea class="ccarea" disabled><%= @challenge.instructions %></textarea>
                </div>
     
              </div>
              
              <div class="large-6 columns">
     
                <h3 class="show-for-small">Your solution<hr/></h3>
     
                <div class="panel">
                  <h4 class="hide-for-small">Your solution<hr/></h4>
                  <%= form_tag({controller: "challenges", action: "check_solution"}, method: "get") do %>
                  <%= text_area_tag :solution, nil, class: "ccarea" %>
                </div>
     
              </div>    
     
              <div class="large-6 columns">
     
                <h3 class="show-for-small">Output<hr/></h3>
     
                <div class="panel">
                  <h4 class="hide-for-small">Output<hr/></h4>
                  <textarea class="ccarea" disabled><%= @challenge.example %></textarea>
                </div>
     
              </div>

              <div class="large-6 columns">
     
                <h3 class="show-for-small">Test cases<hr/></h3>
     
                <div class="panel">
                  <h4 class="hide-for-small">Test cases<hr/></h4>
                  <textarea class="ccarea"></textarea>
                </div>
     
              </div>              
     
            </div>

            <%= submit_tag "Submit", class: "button success expand" %>  
            <% end %>
           
     
     
        </div>
      </div>