<div class="row">
        <div class="large-12 columns">
            <div id="ccresult" class="panel" ng-model="checked">
              <p><%= @result %></p>
            </div>
          
            <div class="row">

              <div class="large-6 columns">
     
                <h3 class="show-for-small"><%= @challenge.name %><hr/></h3>
     
                <div class="panel">
                  <h4 class="hide-for-small"><%= @challenge.name %><hr/></h4>
                  <textarea class="ccsolve" disabled><%= @challenge.instructions %></textarea>
                </div>
     
              </div>
              
              <div class="large-6 columns">
     
                <h3 class="show-for-small">Your solution<hr/></h3>
     
                <div class="panel">
                  <h4 class="hide-for-small">Your solution<hr/></h4>
                  <%= form_tag("/challenges/#{params[:id]}", method: :get) do %>

                  <%= text_area_tag :solution, @challenge.starter, class: "ccsolve" %>
                </div>
     
              </div>              
     
            </div>

            <div class="panel">
              <span>Documentation: </span><a href=<%= @challenge.documentation %> ><%= @challenge.documentation %></a>
            </div>

            <%= submit_tag "Submit", class: "button success expand" %>
           
            <% end %>
     
        </div>
      </div>